<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <form method="post" action="/upload" enctype="multipart/form-data">
    Name: <input name="name" type="text" placeholder="Name"/><br />
    File: <input name="image" type="file" /> <br />
    <input type="submit" value="upload" /> <br />
  </form>
</body>
</html>