<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <div>hello world</div>
  <a href="/upload">上传文件</a>
  <div> 图片列表: </div>
  <% photos.forEach(function(photo) {%>
  <div class="photo">
    <h2><%=photo.name %></h2>
    <a href="/photo/<%=photo.id%>/download">
      <img src="photos/<%=photo.path%>" />
    </a>
  </div>
  <% })%>
</body>
</html>